body{
  background-color: antiquewhite;
  
}
#introCard{
  display: flex;
  scale: 100%;
  justify-content: center;

}

#formContainer{
  display: flex;
  justify-content: center;
}
#filterContainer{
  
  display: flex;
  justify-content: center;
}
#Slytherin{
  background-color: rgb(76, 205, 50);
}
#Gryffindor{
background-color: rgb(223, 205, 49);
}
#Hufflepuff{
  background-color: blueviolet;
}
#Ravenclaw{
  background-color: rgb(185, 185, 180);
}
.btn{
  color: black;
}
#badGuyCards{
  background-color: rgba(209, 48, 48, 0.767);
}
#evilCardContainer{
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 5rem;
  column-gap: 10rem;

}
#cardContainer{
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 5rem;
  column-gap: 10rem;
}
h4{
  text-align: center;
}
