/* TODO ADD BACKGROUND IMAGE AND STYLE */
body{
  background-color: antiquewhite;
  
}
#introCard{
  display: flex;
  scale: 100%;
  justify-content: center;
  padding: 2rem;
  
}

#formContainer{
  display: flex;
  justify-content: center;
}
#filterContainer{
  
  display: flex;
  justify-content: center;
  padding: 1rem;
}
#Slytherin{
  background-color: rgb(76, 205, 50);
}
#Gryffindor{
background-color: rgb(223, 205, 49);
}
#HufflePuff{
  background-color: rgb(173, 110, 233);
}
#Ravenclaw{
  background-color: rgb(185, 185, 180);
}
.btn{
  color: black;
}
#badGuyCards{
  background-color: rgba(209, 48, 48, 0.767);
}

#evilCardContainer{
  display: flex;
  justify-content: space-evenly;
  
  flex-direction: row;
  flex-wrap: wrap;
  width: 30%;
  display: left;
  float: right;
}
#cardContainer{
  display: flex;
  justify-content: space-evenly;
  
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  float: left;
 
}
h4{
  text-align: center;
}

#bothCardContainers{
  text-align: center;
  
}
